{% extends 'main.html' %}
{% block title %}
    About Us
{% endblock %}
{% block content %}


    <section class="about-container shadow">
        <h4>About us</h4>
        <div id="about">
            <p>Managing Director:</p>
            Lorem Ipsum <br>
            <p>Address:</p>
            Stellar LLC <br>
            Paluch 2 <br>
            02-147 Warsaw <br>
            Poland <br>
            <p>Contact</p>
            Phone: +1 000-000-0000 <br>
            Email address: info@example.com <br>
        </div>
    </section>

{% endblock %}