<section class="footer-section">
    <div class="footer-column">
        <p> Stellar Agency</p>
        <p>© 2009 - <span id="DATE" style="font-weight: unset"></span> Stellar.com</p>
        <p>International Real Estate Platform</p>
    </div>
    <div class="footer-column">
        <span href="">Something cool!</span>
        <a href="">Lorem Ipsum</a>
        <a href="">Lorem Ipsum</a>
        <a href="">Lorem Ipsum</a>
        <a href="">Lorem Ipsum</a>
    </div>
    <div class="footer-column">
        <span href="">Something cool!</span>
        <a href="{% url "reviews" %}">Reviews</a>
        <a href="">Lorem Ipsum</a>
        <a href="">Lorem Ipsum</a>
        <a href="">Lorem Ipsum</a>
    </div>
    <div class="footer-column">
        <span>About</span>
        <a href="{% url 'about' %}">About Us</a>
        <a href="{% url 'faq' %}">F.A.Q.</a>
        <a href="{% url 'privacy' %}">Privacy Policy</a>
        <a href="{% url 'tos' %}">Terms of Service</a>
    </div>
</section>