{% load  static %}
<div class="rating-s">
    <div class="rating-group">
        <div id="rating">
            <div id="rating-number">{{ review.rating }}</div>
            <div class="stars">
                <span class="material-icons-round mainStar-s">star</span>
                <span class="material-icons-round mainStar-s">star</span>

            </div>
            <div class="stars">
                <span class="material-icons-round mainStar-s">star</span>
                <span class="material-icons-round mainStar-s">star</span>

            </div>
            <div class="stars">
                <span class="material-icons-round mainStar-s">star</span>
                <span class="material-icons-round mainStar-s">star</span>

            </div>
            <div class="stars">
                <span class="material-icons-round mainStar-s">star</span>
                <span class="material-icons-round mainStar-s">star</span>

            </div>
            <div class="stars">
                <span class="material-icons-round mainStar-s">star</span>
                <span class="material-icons-round mainStar-s">star</span>

            </div>


        </div>
    </div>

</div>

