{% load  static %}
<div id="half-stars-example">
    <div class="rating-group">
        <fieldset id="rating">
            <div id="rating-number-form">{{ rating }}</div>
            <div class="stars">

                <label for="i-1" id="l-1" class="material-icons-round mainStar ">
                    star</label>

                <label for="i-2" id="l-2" class="material-icons-round mainStar ">
                    star</label>

            </div>
            <div class="stars">
                <label for="i-3" id="l-3" class="material-icons-round mainStar ">
                    star</label>
                <label for="i-4" id="l-4" class="material-icons-round mainStar">
                    star</label>
            </div>
            <div class="stars">
                <label for="i-5" id="l-5" class="material-icons-round mainStar">
                    star</label>
                <label for="i-6" id="l-6" class="material-icons-round mainStar">
                    star</label>
            </div>
            <div class="stars">
                <label for="i-7" id="l-7" class="material-icons-round mainStar">
                    star</label>
                <label for="i-8" id="l-8" class="material-icons-round mainStar">
                    star</label>
            </div>
            <div class="stars">
                <label for="i-9" id="l-9" class="material-icons-round mainStar">
                    star</label>
                <label for="i-10" id="l-10" class="material-icons-round mainStar">
                    star</label>
            </div>
            <input type="radio" name="rating" id="i-1" value="1">
            <input type="radio" name="rating" id="i-2" value="2">
            <input type="radio" name="rating" id="i-3" value="3">
            <input type="radio" name="rating" id="i-4" value="4">
            <input type="radio" name="rating" id="i-5" value="5">
            <input type="radio" name="rating" id="i-6" value="6">
            <input type="radio" name="rating" id="i-7" value="7">
            <input type="radio" name="rating" id="i-8" value="8">
            <input type="radio" name="rating" id="i-9" value="9">
            <input type="radio" name="rating" id="i-10" value="10" checked>

        </fieldset>
    </div>

</div>

